{% extends "wakeapp/base.html" %}
{% block content %}
    <div class="body-container">
        <div class="header">
            Header
        </div>
        <div class="main-dashboard">
            {% for category in categories %}
                <div class="host-container">
                    {% for host in computers %}
                        {% if host.category == category and category.name == "Physical Computers" %}
                            <div class="host-physical">{{ host.name }}
                                <br> {{ host.category.name }}
                                <br> {{ host.mac_address }}
                                <br> {{ host.ipv4_address }}
                                <br> {{ host.ipv6_address }}
                                <br> {{ host.wol_port }}
                            </div>
                        {% elif host.category == category and category.name == "Virtual Machines" %}
                            <div class="host-virtual">{{ host.name }}
                                <br> {{ host.category.name }}
                                <br> {{ host.mac_address }}
                                <br> {{ host.ipv4_address }}
                                <br>{{ host.ipv6_address }}
                                <br> {{ host.wol_port }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="aside">
            Sidebar
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
{% endblock content %}
