{% extends "wakeapp/base.html" %}
{% block content %}
    <div class="body-container">
        <div class="header">
            Header
        </div>
        <div class="main-dashboard">
            <div class="host-container">
                {% for host in hosts %}
                    <div class="host"
                         style="background-color:{{ host.category.color }}">
                        {{ host.name }} <br>
                        {{ host.category.name }} <br>
                        {{ host.mac_address }} <br>
                        {{ host.ipv4_address }} <br>
                        {{ host.ipv6_address }} <br>
                        {{ host.wol_port }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="aside">
            Sidebar
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
{% endblock content %}
